<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger level="warn" name="org.apache.http"/>

  <root level="trace">
    <appender-ref ref="console"/>
  </root>

  <logger level="warn" name="org.apache.http"/>
  <logger level="warn" name="org.eclipse.jetty"/>
  <logger level="info" name="org.springframework"/>
</configuration>